
body {
	background-color: rgb(189, 179, 179);
	padding: 15px 0px 0px 30px;
  font-family: system-ui; 
  color: hsla(0, 0%, 10%, 1);
}


h1 {
  display: flex;
  justify-content: center;
  color: rgb(139, 77, 77);
  font-size: 40px;
  font-family: sans-serif;
  margin-top: 36px;
  margin-bottom: 66px;
  letter-spacing: 0.5px;
}

.modal {
  position: absolute;
  width: 100%;
  background-color: whitesmoke;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  border: 3px solid white;
  margin: 106px 0px 0 329px;
  width: 486px;
  height: 452px;
  background-color: rgba(177, 161, 162, 0.5);
  color: rgb(101, 6, 21);
  position: relative;
}

html {
  font-family: sans-serif;
}


.main {
  display:flex;
  justify-content: space-between;
}

.control-buttons {
  margin:5px;
  opacity: 0.8; 
  display: flex;
  justify-content: flex-start;  
}

.play .buttons {
  width: 40px;
}

.stop .buttons{
  width: 48px;
  margin-top: -4px;
}

.back .buttons {
  width: 50px;
  
}

.buttons:hover {
  cursor: pointer;
  box-shadow: 0 0 42px 14px white;
  background-color:white;
  border-radius: 50px;
}

.sample a {
  display: block;
  width: 82px;
  height: 18px;
  border: 1px solid black;
  padding: 6px;
  margin-bottom: 8px;
  background-color: black;
  color: rgb(189, 179, 179);
  border-radius: 4px;
}

.sample a:hover {
  cursor: pointer;
  box-shadow: 0 0 42px 14px white;
  background-color:white;
}

.cycleButton, .circleButton, .barsButton, .oscillButton, .close a {
  display: block;
  width: 85px;
  height: 18px;
  border: 1px solid black;
  padding: 6px;
  margin-bottom: 8px;
  background-color: black;
  color: rgb(189, 179, 179);
  border-radius: 4px;
  text-align: center;
}

.circleButton:hover, .barsButton:hover, .oscillButton:hover, .cycleButton:hover, .close a:hover {
  cursor: pointer;
  box-shadow: 0 0 42px 14px white;
  background-color:white;
}

.rainbow {
  height: 20px;
  width: 120px;
  overflow: hidden;
  background: whitesmoke; 
  opacity: 0.8;
  background: linear-gradient( 
   to right,
   rgb(255, 17, 0), 
   rgb(255, 153, 0),
   rgb(255, 255, 0),
   rgb(0, 128, 0),
   rgb(0, 128, 96),
   rgb(0, 21, 255),
   rgb(128, 0, 128),
   rgb(128, 0, 30))
}

.rainbow:hover {
  opacity: .65;
}

.color {
  padding: 5px;
  height: 70px;
  width: 130px;
}

.color:hover .rainbow {
  opacity: .6;
}

.categories-list {
  list-style: none;

}

ul.categories-list {
  padding: 0;
}

.categories-box {
  font-size: 18px;
  font-weight: bolder;
}



.options a {
  line-height: 30px;
  margin-right: 20px;
}

.options li a:hover {
  background-color: rgba(255,255,255, .5);
}

.options a:active {
  color: #00688B;;
}

.modal {
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255, .6);
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  font-family: 'Lato';
}
.help {
  color: white;
}

.opening {
  border: 3px solid white;
  width: 25%;
  margin: 50px auto;
  padding: 25px;
  background-color: rgba(255,255,255, .5);
  color: #555;
    position: relative;
}

.opening .text{
  margin: 15px auto;
}

.opening h1 {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-left: -20px;
  padding-right: -20px;
}

.opening li {
  display: inline-block;
  margin: 0 6px;
}

.opening .buttons {
  margin: 0 auto;
}
.opening a {
  margin-top: 30px;
  background-color: white;
  padding: 5px 10px;
  margin: 5px;
  display: block;
}

.opening a:hover {
  color: darkturquoise;
}

.links-box {
  display: flex;
  justify-content: flex-end; 
}
.social-media-links{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0px 0px 0px;
}

.social-media-links > a {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.social-media-links > a > img {
  position: absolute;
  width: 40px;
  height: 40px;
}

.social-media-links > a:hover {
  box-shadow: 0 0 35px 12px white;
  background-color: whitesmoke;
  border-radius: 50px;
}

.link-buttons {
  display: flex;
  justify-content: center;
  padding: 32px 0px 0px 0px;
  width: 100%;
  font-size: 20px;
}

.modalText, .modalTextTwo {
  padding-left: 18px;
  padding-right: 18px;
  font-size: 18px;
  color: rgb(49, 47, 47);
}

.modalText {
  padding-bottom: 18px;
}

.closed {
  display: none;
} 
 
